<h1>New User</h1>

<%= render "form", user: @user %>

<div class="mt-8">
  <%= link_to "Back to users", admin_users_path, :class => "uppercase text-sm font-bold tracking-wide bg-gray-600 text-gray-100 p-3 rounded-lg w-full focus:outline-none focus:shadow-outline" %>
</div>
