<div class="md:hidden">
  <div class="fixed inset-0 z-30 bg-gray-600 opacity-0 pointer-events-none transition-opacity ease-linear duration-300">
  </div>

  <div class="fixed inset-y-0 left-0 flex flex-col z-40 max-w-xs w-full bg-white transform ease-in-out duration-300 -translate-x-full">

    <div class="flex items-center px-6 py-3 h-16">
      <div class="text-2xl font-bold tracking-tight text-gray-800">
        The Codify
      </div>
    </div>

    <div class="px-4 py-2 flex-1 h-0 overflow-y-auto">
      <%= render "admin/shared/menu" %>
    </div>

  </div>
  </div>

  <div class="bg-white w-64 min-h-screen overflow-y-auto hidden md:block shadow relative z-30">

    <div class="flex items-center px-6 py-4 h-20">
      <div class="flex flex-row items-center text-2xl font-bold tracking-tight text-gray-800">
        <div class="flex justify-start">
          The Codify
        </div>

        <span class="flex justify-end ml-2">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z">
            </path>
          </svg>
        </span>

      </div>
    </div>

    <div class="px-4 py-2">
      <%= render "admin/shared/menu" %>
    </div>
  </div>
